@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  --font-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

li::marker {
  color: currentColor;
}

@layer utilities {
  html {
    overflow-y: auto;
    color-scheme: light;
    scroll-padding-top: 100px;
  }

  html.dark {
    color-scheme: dark;
  }

  html,
  body {
    @apply size-full;
  }

  body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-neutral-100 dark:bg-neutral-900;
    @apply text-black/85 dark:text-white/85;
  }

  header {
    @apply fixed top-0 right-0 left-0 z-50 py-4;
    @apply bg-neutral-100/75 dark:bg-neutral-900/75;
    @apply saturate-200 backdrop-blur-xs;
  }

  main {
    @apply flex-1 py-24 sm:py-32;
  }

  footer {
    @apply py-6 text-sm;
  }

  button {
    @apply cursor-pointer;
  }

  article {
    @apply prose prose-neutral dark:prose-invert prose-img:mx-auto prose-img:my-auto max-w-full;
    @apply prose-headings:font-semibold;
    @apply prose-headings:text-black dark:prose-headings:text-white;
    @apply text-black/85 dark:text-white/85;
  }
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-[3px];
    @apply decoration-black/30 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/50 dark:decoration-white/50;
  }

  article :not(pre) > code {
    @apply rounded bg-black/5 px-1.5 py-0.5 font-mono text-sm dark:bg-white/10;
  }
  article :not(pre) > code::before,
  article :not(pre) > code::after {
    content: none;
  }

  article li > p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.animate {
  @apply -translate-y-3 opacity-0;
  @apply transition-all duration-300 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

/* 개발 모드에서 애니메이션 비활성화 */
html.dev .animate {
  @apply translate-y-0 opacity-100;
  transition: none;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}

/* shiki config */
pre {
  @apply border border-black/15 py-5 dark:border-white/20;
}

:root {
  --astro-code-foreground: #09090b;
  --astro-code-background: #fafafa;
  --astro-code-token-comment: #a19595;
  --astro-code-token-keyword: #f47067;
  --astro-code-token-string: #00a99a;
  --astro-code-token-function: #429996;
  --astro-code-token-constant: #2b70c5;
  --astro-code-token-parameter: #4e8fdf;
  --astro-code-token-string-expression: #ae42a0;
  --astro-code-token-punctuation: #8996a3;
  --astro-code-token-link: #8d85ff;
}

.dark {
  --astro-code-foreground: #fafafa;
  --astro-code-background: #09090b;
  --astro-code-token-comment: #a19595;
  --astro-code-token-keyword: #f47067;
  --astro-code-token-string: #00a99a;
  --astro-code-token-function: #6eafad;
  --astro-code-token-constant: #b3cceb;
  --astro-code-token-parameter: #4e8fdf;
  --astro-code-token-string-expression: #bf7db6;
  --astro-code-token-punctuation: #8996a3;
  --astro-code-token-link: #8d85ff;
}

/* copy code button on codeblocks */
.copy-code {
  @apply absolute top-2 right-2 grid size-8 place-content-center rounded border border-black/10 bg-neutral-100/80 text-center opacity-0 transition-opacity duration-100 dark:border-white/10 dark:bg-neutral-900/80;
}

pre:hover .copy-code {
  @apply opacity-100;
}

.copy-code:hover {
  @apply bg-neutral-200 transition-colors duration-150 dark:bg-neutral-800;
}

.copy-code:active {
  @apply scale-95 transition-transform duration-75;
}

.copy-code.copied {
  @apply opacity-100;
}
