---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---

<footer class="animate">
  <Container>
    <span>&copy; {new Date().getFullYear()} • {SITE.TITLE}</span>
  </Container>
</footer>
